﻿@model C2.DataModel.PageContent
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="@Model.HtmlDescription" />
    <meta name="keywords" content="@Model.HtmlKeywords" />
    
    <title>@Model.HtmlTitle</title>
    
    @Styles.Render("~/Content/landing")
</head>
<body>
    <div class="wrapper">
        <div class="wrapper-h">
        <div class="left">
            <div>@Html.Raw(Model.Text)</div>

            @if(ViewBag.ShowForm) {
                <p>
                    @Html.Partial("_SubscribeForm", new C2.DataModel.Subscriber())
                </p>
            }
        </div>
        <div class="right">

        @if(ViewBag.ShowForm) {
            <div>@Html.Raw(Model.HtmlDescription)</div>
            <div class="arrow"></div>
            <p>
                @Html.Partial("_SubscribeForm", new C2.DataModel.Subscriber())
            </p>
        }


        </div>

        </div>
    </div>
    @Scripts.Render("~/bundles/jquery", "~/bundles/jqueryval")
</body>
</html>
