@model C2.DataModel.StoreModel.CustomerInfo
@{
    ViewBag.HtmlTitle = ViewBag.Title = "Информация о заказчике";
}

<h2>Информация о заказчике</h2>

@Html.ValidationSummary()

@using (Ajax.BeginForm("Apply", "Customer", new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "update-panel", OnSuccess = "applySuccess", OnFailure = "applyFailrue" }))
{ 
    @Html.Partial("_CustomerInfo")
    
    <button type="submit" class="next-stage">Сохранить</button>
}

@section Scripts
{
<script type="text/javascript">
    function applySuccess() {
        alert("Изменения сохранены.");
    }

    function applyFailrue(e) {
        alert("Указанные данные в полях ИНН, ОГРН(ИП) и/или КПП неверны. Сохранение невозможно.");
    }
</script>
}
