﻿<h2>Запрашиваемая страница не найдена</h2>
<p>Возможно, она устарела, воспользуйтесь поиском или начните просмотр с <a href="@Url.Content("~/")">главной страницы</a></p>

<p>Так же, вы можете <a href="mailto:manager@optodrom.ru">написать нам</a> или позвонить:</p>
<ul>
    <li>8 (916) 015-7799 Москва</li>
    <li>8 (916) 015-6161 Москва</li>
</ul>
<p>Мы обязательно поможем Вам найти, что вы ищите.</p>
