﻿@if (Request.IsAuthenticated) {
    <text>
        @Html.ActionLink(User.Identity.Name, "Profile", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Управление" })
        @Html.ActionLink("Бонусы", "Partner", "Account")
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Выход</a>
        }
    </text>
} else {
    <ul id = "loginLink">
@*        <li>@Html.ActionLink("Регистрация", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
        <li>@Html.ActionLink("ВХОД", "Login", "Account", routeValues: null, htmlAttributes: new {  })</li>
         /
        <li>@Html.ActionLink("РЕГИСТРАЦИЯ", "Register", "Account", routeValues: null, htmlAttributes: new {  })</li>
    </ul>
}
