﻿@model C2.DataModel.StoreModel.CustomerInfo
@{
    ViewBag.Title = "Информация о заказчике";
}

<h2>Информация о заказчике</h2>

@Html.ValidationSummary()

@using (Ajax.BeginForm("Apply", "Customer", new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "update-panel", OnSuccess = "applySuccess", OnFailure = "applyFailrue" }))
{ 
    @Html.Partial("~/Views/Customer/_CustomerInfo.cshtml", Model)
    
    <button type="submit" class="next-stage">Сохранить</button>
}

@section Scripts
{
<script type="text/javascript">
    function applySuccess()
    {
        alert("Изменения сохранены.");
    }

    function applyFailrue() {
        alert("При сохранении произошла ошибка. Попробуйте позже или свяжитесь с администратором сайта.");
    }
</script>
}
