﻿@model C2.DataModel.PageContent
@Html.Partial("ckEditorInit", new { toolbarset = "Full" })
@Html.Partial("ckEditor", new { FCKEditor = "Text" })


@using (Html.BeginForm("CreateEdit", "Content")) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Страница</legend>
        <p>@Html.DisplayFor(m => m.Id)</p>
        
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.ContentType)

    <table>
        <tr>
            <td>Название</td>
            <td>@Html.TextBoxFor(m => m.Title, new { @class="text-input" })</td>
        </tr>
        <tr>
            <td>HtmlId</td>
            <td>@Html.TextBoxFor(m =>m.HtmlId, new { @class="text-input" })</td>
        </tr>
        <tr>
            <td>HtmlTitle</td>
            <td>@Html.TextBoxFor(m =>m.HtmlTitle, new { @class="text-input" })</td>
        </tr>
        <tr>
            <td>HtmlKeywords</td>
            <td>@Html.TextBoxFor(m =>m.HtmlKeywords, new { @class="text-input" })</td>
        </tr>
        <tr>
            <td>HtmlDescription</td>
            <td>@Html.TextAreaFor(m =>m.HtmlDescription, new { @class="text-input" })</td>
        </tr>
        <tr>
            <td>Текст</td>
            <td>@Html.TextArea("Text")</td>
        </tr>
    </table>
        
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    <a href="@Url.Action("Index", new { area="admin", controller=Request.RequestContext.RouteData.Values["controller"] })">Вернуться, не сохраняя</a>
</div>

@section Scripts {
}
