﻿@using C2.DAL;
@using C2.DataModel.StoreModel;
@using C2.WebApp.Store.Models;
@model ProductPageModel
@{
    ViewBag.Title = "OptoDrom.ru";
    Layout = "~/Views/Product/_ProductPageLayout.cshtml";
}

<div id="products">

    <div class="home_main">
        <style>
            .image_carousel #image_block div
            {
                display: block;
                float: left;                
            }
        </style>
        <div class="image_carousel">
	        <div id="image_block">
                <div><a href="@Url.Action("Index", "Product", new { categorySeoName = "Akcija", categoryNodeId = 81920})"><img src="@Url.Content("~/content/images/promo/3.jpg")" alt="" width="655" height="325" /></a></div>
                <div><a href="@Url.Action("Index", "Product", new { categorySeoName = "Domashnjaja-odezhda", categoryNodeId = 81506})"><img src="@Url.Content("~/content/images/promo/4.jpg")" alt="" width="655" height="325" /></a></div>
	        </div>
	        <div class="pagination" id="image_block_pag"></div>
        </div>
        
@*        <div class="catalog-links">
            <a href="@Url.Action("Index", new { controller="Product", categorySeoName="platia", categoryNodeId="44582" })" class="icon platia" title="Платья">Платья</a>
            <a href="@Url.Action("Index", new { controller="Product", categorySeoName="ubki", categoryNodeId="67355" })" class="icon ubka" title="Юбки">Юбки</a>
            <a href="@Url.Action("Index", new { controller="Product", categorySeoName="bluzki", categoryNodeId="45809" })" class="icon bluzka" title="Блузки">Блузки</a>
            <a href="@Url.Action("Index", new { controller="Product", categorySeoName="sarafan", categoryNodeId="68003" })" class="icon sarafan" title="Сарафаны">Сарафаны</a>
        </div>*@

    </div>

    <div class="hits">
        <h1>Хиты продаж</h1>
        @if (Model.SelectResult.TotalCount > 0)
        {
            <div class="product-collection grid-view">
                @Html.Partial("~/Views/Product/ProductCollection.cshtml", Model.SelectResult)
            </div>
        }
    </div>

    @if (Model.Select1Result.TotalCount > 0) {
        <div class="product-collection grid-view">
            @Html.Partial("~/Views/Product/ProductCollection.cshtml", Model.Select1Result)
        </div>
    }

    @if (Model.Select2Result.TotalCount > 0) {
        <div class="product-collection grid-view">
            @Html.Partial("~/Views/Product/ProductCollection.cshtml", Model.Select2Result)
        </div>
    }

    @if (Model.Select3Result.TotalCount > 0) {
        <div class="product-collection grid-view">
            @Html.Partial("~/Views/Product/ProductCollection.cshtml", Model.Select3Result)
        </div>
    }

    @if (Model.Select4Result.TotalCount > 0) {
        <div class="product-collection grid-view">
            @Html.Partial("~/Views/Product/ProductCollection.cshtml", Model.Select4Result)
        </div>
    }

    <div class="main_text">
        @Html.Raw(Model.PageContent.Text)
    </div>
</div>

@section scripts {
<script src="@Url.Content("~/Scripts/jquery.carouFredSel-6.1.0-packed.js")"></script>
<script type="text/javascript">
    $("#image_block").carouFredSel({
        items: 1,
        circular: true,
        infinite: true,
        auto: true,
        pagination: "#image_block_pag",
        scroll: {
            duration: 700,
            delay: 3000,
            pauseOnHover:true
        }

    });
</script>
}