﻿<p>Уважаемый пользователь!</p>
<p>Для изменения пароля перейдите по ссылке <a href='{{Url}}'>{{Url}}</a> или скопируйте её в адресную строку браузера и нажмите Ввод.</p>
<p>Если вы не делали запрос на изменение пароля, то обратитесь в службу поддержки пользователей сайта для выяснения деталей создания запроса.</p>
<p>Служба поддержки пользователей.</p>
{{include Footer}}