﻿@model C2.DataModel.StoreModel.CustomerInfo

@if (Model == null)
{
    <div>Пользователь не заполнил данные</div>
} else {
    { ViewBag.HtmlTitle = ViewBag.Title = "Пользователь " + @Model.UserName; }
    @Html.Partial("_CustomerInfo")
    @Html.ActionLink("Не присваивать/снять статус оптового", "SetWholesaleOption", new { username = Model.UserName, isWholesaleCustomer=false })
    @Html.ActionLink("Присвоить статус оптового", "SetWholesaleOption", new { username = Model.UserName, isWholesaleCustomer=true })
}

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
