﻿@model C2.DataModel.SidEntity
@{
    ViewBag.HtmlTitle = ViewBag.Title = "Отписаться";
}

<h2>Отписать @ViewBag.Email ?</h2>

@using (Html.BeginForm(new {action="Unsubscribe", controller="Customer", id=""}))
{
    <input type="hidden" name="id" value="@Model.Id" />
    <input type="submit" value="Отписать" class="button" />
}
