@using C2.DataManager.Store
@using C2.WebApp.Store.Models
@using C2.WebApp.Store
@using C2.WebApp.Store
@model C2.DataModel.StoreModel.Order

@helper CreateOrderButton()
{
    ProductPageModel productModel = ViewData.GetPageModel();
    bool isWholesale = productModel.CustomerInfo != null && productModel.CustomerInfo.Status == C2.DataModel.StoreModel.CustomerStatus.IsWholesale;
    var isPreorder = Model.OrderStatus.HasFlag(C2.DataModel.StoreModel.OrderStatus.Preorder) ? 1 : 0;
    if (!isWholesale || Model.Total >= C2.WebApp.Store.Properties.Settings.Default.MinOrderAmount)
    {
        <p>
            Для того, чтобы мы приняли и обработали Ваш заказ нажмите кнопку «Оформить заказ...». При возникновении проблем обратитесь к нашим операторам по номерам 8(916) 015-61-61 или 8(916) 015-77-99
        </p>
        <p>@Html.ActionLink(isPreorder > 0 ? "Оформить предзаказ...":"Оформить заказ...", "Create", "Order", null, new { @class = "button" })</p>
    }
    else
    {
        <h1 class="error">Минимальная сумма заказа @C2.WebApp.Store.Properties.Settings.Default.MinOrderAmount.ToString("N2") р. Выберите что-нибудь ещё в нашем @Html.ActionLink("каталоге", "Index", "Product").</h1>
    }
}

@if (Model == null || Model.Items.Count == 0)
{
    @: Ваша корзина пуста. @Html.ActionLink("Наполните", "Index", "Product") её.
}
else
{
    @CreateOrderButton()
    <div>
    @{var isPreorder = Model.OrderStatus.HasFlag(C2.DataModel.StoreModel.OrderStatus.Preorder) ? 1 : 0;}
    @foreach (var item in Model.Items)
    {
        <div>
            <div class="basket-column img"><a class="no-bg" href="@Url.Action("Item", "Product", new { id = item.Offer.ProductId })"  title="@item.Offer.Product.CurrentLocalization.Title"><img itemprop="image" src="@item.Offer.Product.MediaCollection.First().AsPreview()" alt="@item.Offer.Product.CurrentLocalization.Title" /></a></div>
            <div class="basket-column txt">
                <div style="padding-bottom: 1em;">@Html.ActionLink(item.Offer.Product.CurrentLocalization.Title, "Item", new { controller="Product", id = item.Offer.Product.Id }, new { title = item.Offer.Product.CurrentLocalization.Title })</div>
                <div>@item.Offer.Product.CurrentLocalization.Description</div>
            </div>
            <div class="basket-column prop">
                @foreach (var prop in item.Offer.Properties) {
                    <div>@prop.PropertyType.CurrentLocalization.Title: @prop.StringValue</div>
                }
            </div>
            <div class="basket-column val number-value">
                <a class="minus" href="javascript:void(0);" data-bound="0">&nbsp;</a>
                
                <span class="number" data-posturl="@Url.Action("SetQuantity", "Basket")" data-UpdateTargetId="basket-items" data-id="@item.OfferId" data-preorder="@isPreorder">@item.Quantity.ToString("#")</span>
                
                <a class="plus" href="javascript:void(0);" data-bound="@item.Offer.AvailQuantity" data-preorder="@isPreorder">&nbsp;</a>
            </div>
            <div class="basket-column sum" data-price="@item.Offer.Price">@item.Total.ToString("# ###")р.</div>
            <div class="basket-column btn">@Ajax.ActionLink(" ", "Remove", "Basket", new { id = item.OfferId }, new AjaxOptions { HttpMethod = "post", UpdateTargetId = "basket-items", OnComplete="C2.basket.updateComplete", OnBegin="C2.basket.updateBegin" }, new { @class = "remove" })</div>
            
@*            @Ajax.ActionLink("+", "IncQuantity", "Basket", new { id = item.OfferId }, new AjaxOptions { HttpMethod = "post", UpdateTargetId = "basket-items" })
            @Ajax.ActionLink("-", "DecQuantity", "Basket", new { id = item.OfferId }, new AjaxOptions { HttpMethod = "post", UpdateTargetId = "basket-items" })*@
        </div>
        <div class="clear-fix">&nbsp;</div>
    }
    </div>
    <div class="basket-total">Итого: @Model.Total.ToString("C")</div>
    
    @CreateOrderButton()
}
