@model C2.DAL.SelectResult<C2.DataModel.Comment>

@{
    ViewBag.HtmlTitle = ViewBag.Title = "Отзывы";
}

<h1>Отзывы</h1>

<div id="comments">

@if (Model.TotalCount == 0)
{
    <p>Отзывов еще нет. Ваш отзыв может быть первым.</p>
} else {
    <div>
    @foreach (var item in Model.Items)
    {
        <div>@item.Created.ToShortDateString() от: <span>@item.UserDisplayName</span></div>
        <div>@item.Text</div>
        <div style="border-bottom:dotted 1px black; margin-bottom:10px;"></div>
    }
    </div>
    
    if (Model.PageCount > 1) {
    <div>
        @Html.Partial("_Pager")
    </div>
    }
}

@if (User.Identity.IsAuthenticated) {
    @Html.Partial("_AddComment", new C2.DataModel.Comment { UserDisplayName = ViewBag.UserDisplayName as string })
} else {
    <p>Чтобы оставить отзыв, вам необходимо @Html.ActionLink("Авторизоваться", "Login", new { controller="Account", returnUrl=Request.RawUrl }) на сайте</p>
}

</div>
