@model C2.WebApp.Store.Models.ProductPageModel

@{
    ViewBag.HtmlTitle = ViewBag.Title = "Корзина";
}

<h1>Корзина</h1>

<div id="basket-items">
    @Html.Partial("~/Views/Basket/BasketItems.cshtml", Model.Basket)
</div>

@section Scripts {
    <script type="text/javascript">
        C2.basket.url = "@Url.Action("get", "basket")";

        $(function () {
            $("body").change(function (e) {
                if ($(e.target).hasClass("offer-val")) {
                    var offerId = $(e.target).attr("data-offer-id");
                    var quantity = $(e.target).val();
                    $.post(
                        "@Url.Action("SetQuantity", "Basket")/" + offerId,
                        {quantity: quantity},
                        function (data) {
                            $("#basket-items").html(data);
                            C2.basket.updateSucess();
                        }
                    );

                }
            });
        });
    </script>
}