﻿@using C2.WebApp.Store
@{
    var pageModel = ViewData.GetPageModel();
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.HtmlTitle</title>
    <meta name="description" content="@ViewBag.Description" />
    <meta name="keywords" content="@ViewBag.Keywords, купить, оптом, интернет-магазин, трикотаж" />

    <link href="~/content/images/ico.png" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <meta name='yandex-verification' content='678f04ed70eec6a0' />
    @Styles.Render("~/Content/themes/base/css", "~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@
    <style type="text/css">
        div.tr-header-banner-wrapper {
            display: block;
            position: relative;
            /*width: 1040px;*/
            height: 88px;
            margin: 20px 0;
            padding: 0;
            border: 0;
        }

        div.tr-header-banner-first {
            display: block;
            position: absolute;
            top: 0;
            left: 0px;
            width: 300px;
            height: 78px;
            border: 0;
            margin: 0;
            padding: 0px 40px 10px 940px;
            background-image: url("/content/images/march-banner.png");
            background-position: center;
            background-repeat: no-repeat;
        }
    </style>
</head>
<body>
    <div class="wrapper-h">
        <div class="wrapper">
            <div id="header">
                <h1 id="site-title"><a href="~/">@Html.Raw(C2.AppController.SupplierModel.Current.Logo)</a><small>@Html.Raw(C2.AppController.SupplierModel.Current.Subject.CurrentLocalization.Description)</small></h1>

                <div id="top-buttons">
                    <ul>
                        <li class="red"><a href="/home/get/business/" title="Для оптовых клиентов">Для оптовых клиентов</a></li>
                        <li><a href="/home/get/im/" title="Оплата и доставка">Оплата и доставка</a></li>
                        <li><a href="/home/get/company/" title="Контакты">Контакты</a></li>
                        <li><a href="/home/get/news/" title="Новости">Новости</a></li>
                        <li class="fav"><a href="#" onclick="return add_favorite(this);" title="в Закладки">&nbsp;</a></li>

                    </ul>
                </div>
                <div class="phone-title">
                    @Html.Raw(C2.AppController.SupplierModel.Current.PhoneBlock)
                </div>

                <div id="product-filters" class="search">
                    <b class="l"></b>
                    <b class="r"></b>
                    @using (Ajax.BeginForm("Search", "Product", null, new AjaxOptions { UpdateTargetId = "main", InsertionMode = InsertionMode.Replace, OnBegin = "fadeOutSearch", OnComplete = "fadeInSearch" }, new { id = "product-filter" }))
                    {
                        @*<input type="hidden" name="CategoryNodeId" value="@pageModel.CategoryNodeId" />*@
                        <p class="input-wrapper">
                            <span class="input">
                                <input type="text" name="FreeText" class="textInput-placeholder" value="Поиск товара по названию" id="write" data-placeholder="Поиск товара по названию">
                            </span>
                        </p>
                        <p class="submit"><button type="submit" class="button-search">Найти</button></p>
                    }
                </div>

                <div id="login">
                    @Html.Partial("_LoginPartial")
                    @if (Request.IsAuthenticated)
                    {
                        @Html.ActionLink("Информация о заказчике", "Index", "Customer")
                        @Html.ActionLink("Мои заказы", "Index", "Order")
                    }
                </div>

                <div id="basket-info">
                    @if (pageModel != null)
                    {
                        @Html.Partial("BasketInfo", pageModel.Basket)
                    }
                </div>

                @Html.Raw(C2.AppController.SupplierModel.Current.Banner)
            </div>
            <div id="body">
                <div class="tr-header-banner-wrapper">
                    <div class="tr-header-banner-first">
                        <div class="eTimer-first eTimer"></div>
                    </div>
                </div>

                @RenderSection("featured", required: false)

                <div id="tools">
                    <h1 class="sale">
                        <a href="@Url.Action("Selling", "Product")">Распродажа</a>
                    </h1>
                    <div id="catalog">
                        @if (pageModel != null)
                        {
                            @Html.Partial("TreeView", pageModel.Catalog)
                        }
                    </div>

                    @RenderSection("filter", required: false)
                </div>

                <div id="main">
                    @RenderBody()
                </div>

            </div>
            <div class="spacer"></div>
        </div>
        @Html.Partial("_Footer")
    </div>

    @Scripts.Render("~/bundles/jquery", "~/bundles/jqueryval", "~/bundles/store")
    @RenderSection("scripts", required: false)

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function () {
                try {
                    w.yaCounter18071485 = new Ya.Metrika({ id: 18071485, enableAll: true, webvisor: true });
                } catch (e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="//mc.yandex.ru/watch/18071485" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-3663816-5']);
        _gaq.push(['_setDomainName', 'optodrom.ru']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    <script src="http://e-timer.ru/js/etimer.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery(".eTimer").eTimer({
                etType: 0, etDate: "05.03.2015.23.59", etTitleSize: 20, etShowSign: 1, etSep: ":", etFontFamily: "Arial", etTextColor: "black", etPaddingTB: 5, etPaddingLR: 0, etBackground: "#f1b705", etBorderSize: 0, etBorderRadius: 0, etBorderColor: "white", etShadow: " 0px 0px 0px 0px #f1b705", etLastUnit: 4, etNumberFontFamily: "Arial", etNumberSize: 35, etNumberColor: "black", etNumberPaddingTB: 0, etNumberPaddingLR: 4, etNumberBackground: "white", etNumberBorderSize: 0, etNumberBorderRadius: 5, etNumberBorderColor: "white", etNumberShadow: "inset 0px 0px 5px 0px rgba(0, 0, 0, 0.5)"
            });
        });
    </script>
</body>
</html>
