﻿@model C2.WebApp.Store.Models.OrderViewModel
@{
    ViewBag.Title = "Заказы";
}

@using (Ajax.BeginForm("Search", new AjaxOptions() { UpdateTargetId = "orders", HttpMethod = "Post" }))
{
    <div class="col-title">@Html.LabelFor(m => m.Parameters.CustomerId)</div>
    <div class="col-control">@Html.EditorFor(m => m.Parameters.CustomerId)</div>
    <div class="clear-fix"></div>
    <div class="col-title">@Html.LabelFor(m => m.Parameters.OrderNumber)</div>
    <div class="col-control">@Html.EditorFor(m => m.Parameters.OrderNumber)</div>
    <div class="clear-fix"></div>
    <button type="submit" class="do" style="margin-left: 450px;">Найти</button>
}

<div id="orders">
    @Html.Partial("_OrderList", Model.Orders)
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jquery", "~/bundles/jqueryval")
}