﻿<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/themes/base/css", "~/Content/css")
        @Scripts.Render("~/bundles/jquery")
    </head>
    <body>

        <div class="wrapper-h">
            <div class="wrapper">
            <div id="header">
                    <p class="site-title">Админка</p>
                        <ul id="menu">
                            <li>@Html.ActionLink("Классификатор", "Index", "ProductGroup")</li>
                            <li>@Html.ActionLink("Товары", "Index", "Product")</li>
                            <li>@Html.ActionLink("Пользователи", "Index", "User")</li>
                            <li>@Html.ActionLink("Поставщики", "Index", "Supplier")</li>
                            <li>@Html.ActionLink("Контент", "Index", "Content")</li>
                            <li>@Html.ActionLink("Заказы", "Index", "Order")</li>
                        </ul>
            </div>
            <div id="body">
                @RenderSection("featured", required: false)
                <h2>@ViewBag.Title</h2>
                <div>
                    @RenderBody()
                </div>

            </div>
            <div class="spacer"></div>
            </div>
        </div>

        @Html.Partial("_Footer")

        @RenderSection("scripts", required: false)
    </body>
</html>

