﻿<div style='font-family: Segoe UI, Segoe, Arial, sans-serif'>
  <p>Здравствуйте, {{CustomerInfo}}!</p>
  <p>К вашему заказу {{Number}} от {{Date}} на сайте <a href='http://bbsw.ru'>http://bbsw.ru</a> есть комментарии, требующие вашего ответа.</p>
  <h2>Заказ</h2>
  <table border='1' cellpadding='2' cellspacing='1'>
    <tr>
      <th>№</th>
      <th>Артикул</th>
      <th>Название товара</th>
      <th>Цена</th>
      <th>Количество</th>
      <th>Комментарий</th>
    </tr>
    {{foreach Items Items}}
  </table>
  <p>Итого: {{TotalAdmin}} р.</p>

{{include Footer}}
</div>