﻿@model C2.WebApp.Models.LoginModel

@{
    ViewBag.Title = "Требуется авторизация на сайте";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<section id="loginForm">
<h2>Для авторизации, требуется ввести адрес электронной почты, указанный при регистрации и пароль.</h2>
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Я тут был</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ActionLink("Забыли пароль?", "ForgotPassword")
                @Html.ValidationMessageFor(m => m.Password)
            </li>
            <li>
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
            </li>
        </ol>
        <input type="submit" value="Войти" class="button" />
    </fieldset>
    <p>Если Вы еще не зарегистрированы, нажмите кнопку "Регистрация"    </p>
    <p>@Html.ActionLink("Регистрация", "Register", new { controller = "Account" }, new { @class="button" })</p>
}
</section>

<section class="social" id="socialLoginForm">
    <h2>Для входа в личный кабинет Вы так же можете использовать Вашу учётную запись от другого сервиса</h2>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
