﻿@using C2.DataModel.MediaModel;
@using C2.DataManager.Store
@using C2.WebApp.Store.Models
@model ProductItemViewModel
@{
    ViewBag.Title = Model.Product.Vendor.CurrentLocalization.ShortName + " " + Model.Product.CurrentLocalization.Title;
    ViewBag.Keywords = Model.Product.Vendor.CurrentLocalization.ShortName + ", " + Model.Product.CurrentLocalization.Title;
    ViewBag.Description = Model.Product.CurrentLocalization.Description;

    Layout = "~/Views/Product/_ProductPageLayout.cshtml";
}


@helper DrawMetadata(List<C2.DataModel.MediaModel.PictureMetaData> meta)
{
    if (meta != null)
    {
        var data = meta.Where(md => md.PictureType == "full").FirstOrDefault();
        <text>data-width="@data.Width"</text> <text>data-height="@data.Height"</text>
    }
    else
    {
        <text>data-width="600" data-height="900"</text>
    }
}

@helper DrawPreview(C2.DataModel.StoreModel.Product product)
{
    if (product != null) {
    <div class="picture">
        <a class="no-bg" href="@Url.Action("Item", "Product", new { id = product.Id })"  title="@product.CurrentLocalization.Title">
            <img itemprop="image" src="@product.MediaCollection.OrderByDescending(c => c.MediaItem.PermaLink).First().AsPreview()" alt="@product.CurrentLocalization.Title" />
            <div>@product.CurrentLocalization.Title</div>
        </a>
    </div>
    }
}

@helper DrawOffer()
{
    <span>Минимальная цена</span>
    <div class="price-label">
        <p class="price-normal">@Model.Product.Offers.GetMinOffer().Price.ToString("# ###") <span>р.</span></p>
    </div>

    if (Model.Product.Properties.Count > 0)
    {
        <ul id="props">
            @foreach (var g in Model.Product.PropertyGroups)
            {
                <li class="prop" data-id="@g.PropertyType.Id">
                    <div class="prop-name">@g.PropertyType.CurrentLocalization.Title</div>
                    <div class="prop-value">
                        @{
                foreach (var v in g.Values.OrderBy(x => x.StringValue))
                {
                    if (g.Values.Count > 1)
                    {
                            <a data-id="@v.Id">@v.StringValue</a>
                    }
                    else
                    {
                            @v.StringValue
                    }
                }
                        }
                    </div>
                </li>
            }
        </ul>
    }

    <h3>Предложения</h3>
    foreach (var offer in Model.Product.Offers)
    {
        var offer_min_cnt = @offer.AvailQuantity > 0 ? 1 : 0;
        <ul class="offer visible">
            <li>
                <span>
                    @foreach (var p in offer.Properties)
                    {
                        <span class="offer-prop-value" data-pid="@p.PropertyType.Id" data-vid="@p.Id">@p.PropertyType.CurrentLocalization.Title @p.StringValue</span>
                    }
                </span>&#0151; <span class="price-value">@offer.Price.ToString("# ###")р.</span>

                <div class="number-value">
                    <a class="minus" href="javascript:void(0);" data-bound="0">&nbsp;</a>
                    <span class="number" data-id="@offer.Id">@offer_min_cnt</span>
                    <a class="plus" href="javascript:void(0);" data-bound="@offer.AvailQuantity">&nbsp;</a>
                </div>

                из @offer.AvailQuantity.ToString("#") @offer.Unit.CurrentLocalization.Title
            </li>
        </ul>
    }

    <button class="button handler-buy" data-offerid="" data-UpdateTargetId="basket-info" data-posturl='@Url.Action("add", "basket")'>
        В корзину
    </button>

    <div class="hint">В корзину отправится выбранное количество по каждой позиции</div>
}

<div class="product-detail">
    <h1>@Model.Product.Vendor.CurrentLocalization.ShortName @Model.Product.CurrentLocalization.Title</h1>
    
    <div id="description">@Model.Product.CurrentLocalization.Description</div>
    
    @if (@Model.Product.MediaCollection.Count > 0)
    {
        <div class="images">
            <div id="full-image-container">
                <div id="full-image" style="background-image: url('@Model.Product.MediaCollection.OrderByDescending(c => c.MediaItem.PermaLink).First().AsFull()')" @DrawMetadata(Model.Product.MediaCollection.OrderByDescending(c => c.MediaItem.PermaLink).First().MediaItem.GetPictureMetaData())><div id="magnifier"></div></div>
                <div id="canvas" style="background-image: url('@Model.Product.MediaCollection.OrderByDescending(c => c.MediaItem.PermaLink).First().AsFull()')"></div>
            </div>
            @if (@Model.Product.MediaCollection.Count > 1)
            {
                var isFirstMedia = true;
                <div class="clear-fix"></div>
                foreach (var m in @Model.Product.MediaCollection.OrderByDescending(c => c.MediaItem.PermaLink))
                {
                    <img src="@m.AsPreview()" data-src="@m.AsFull()" class="@(isFirstMedia ? "selected" : "")" @DrawMetadata(@m.MediaItem.GetPictureMetaData()) />
                    isFirstMedia = false;
                }
            }
        </div>
    }
    
    <div class="offers-container">
        @if (Request.IsAuthenticated)
        {
            @DrawOffer()
        } else {
            <div class="hint">Для того, чтобы узнать цену и оформить заказ, вам необходимо @Html.ActionLink("Авторизоваться", "Login", new { controller="Account", returnUrl=Request.RawUrl }) на сайте</div>
        }
    </div>

    <div class="clear-fix"></div>
    
    <div class="header"></div>
    <div class="produc-navy">
        <div class="prev">@DrawPreview(Model.Previous)</div>
        <div class="next">@DrawPreview(Model.Next)</div>
        <div></div>
    </div>

</div>

@section Scripts
{
<script type="text/javascript">
    $(function () {
        $('#props').click(propValueSelected);

        $('.product-detail .images img').click(function () {
            $('.product-detail .images img.selected').removeClass('selected');
            $(this).addClass('selected');
            $('#full-image').css('background-image', 'url("' + $(this).attr('data-src') + '")').attr('data-width', $(this).attr('data-width')).attr('data-height', $(this).attr('data-height'));
            $('#canvas').css('background-image', 'url("' + $(this).attr('data-src') + '")').attr('data-width', $(this).attr('data-width')).attr('data-height', $(this).attr('data-height'));
        });

        $('#full-image')
            .mousemove(magnifier)
            .mouseenter(magnifierBegin)
            .mouseleave(magnifierEnd);
    });

    function propValueSelected(e) {
        if (e.target.tagName != 'A') {
            return;
        }
        e.stopPropagation();
        var selected = $(e.target);
        if (selected.hasClass('active')) {
            selected.removeClass('active');
        } else {
            selected.siblings('.active').removeClass('active');
            selected.addClass('active');
        }
        
        var filter = {};
        $('#props a.active').each(function () {
            var propTypeId = $(this.parentNode.parentNode).attr('data-id');
            var propValueId = $(this).attr('data-id');
            filter[propTypeId] = propValueId;
        });

        $(".offer").each(function () {
            var match = true;
            for (var pid in filter) {
                var val = filter[pid];
                if ($(this).find('.offer-prop-value[data-pid=' + pid + '][data-vid=' + val + ']').length == 0) {
                    match = false;
                    break;
                }
            }
            if (match) {
                $(this).addClass("visible");
                $(this).show();
            } else {
                $(this).hide();
                $(this).removeClass("visible");
            }
        });
    }

    function magnifier(e) {
        var el = $('#full-image');
        var mg = $('#magnifier');

        var imgSz = { h: el.attr('data-height'), w: el.attr('data-width') };
        var elSz = { h: el.height(), w: el.width() };

        if ((imgSz.h < elSz.h) && (imgSz.w < elSz.w)) {
            return;
        }

        // magnifier size
        var mgSz = {
            h: Math.floor(elSz.h * elSz.h / imgSz.h),
            w: Math.floor(elSz.w * elSz.w / imgSz.w)
        };

        mg.height(mgSz.h);
        mg.width(mgSz.w);

        // magnifier position
        var elOffset = el.offset();
        var mgPos = { left: e.pageX - elOffset.left - Math.floor(mgSz.w / 2), top: e.pageY - elOffset.top - Math.floor(mgSz.h / 2) };
        if (mgPos.left < 0) {
            mgPos.left = 0;
        } else {
            if (mgPos.left + mgSz.w > elSz.w) {
                mgPos.left = elSz.w - mgSz.w;
            }
        }

        if (mgPos.top < 0) {
            mgPos.top = 0;
        } else {
            if (mgPos.top + mgSz.h > elSz.h) {
                mgPos.top = elSz.h - mgSz.h;
            }
        }

        mg.offset({ left: mgPos.left + elOffset.left, top: mgPos.top + elOffset.top });

        var cs = $('#canvas');
        var x = -Math.floor(mgPos.left * elSz.w / mgSz.w);
        var y = -Math.floor(mgPos.top * elSz.h / mgSz.h);
        cs.css('background-position', x + 'px ' + y + 'px');
    }

    function magnifierBegin(e) {
        $('#magnifier').show();
        $('#canvas').show();
    }

    function magnifierEnd(e) {
        $('#magnifier').hide();
        $('#canvas').hide();
    }
</script>
}