﻿<h2>Упс! Произошла ошибка на сервере!</h2>
<h3>Система автоматически уведомила администратора, и совсем скоро мы решим этот вопрос! </h3>

<p>Попробуйте повторить свои действия с <a href="@Url.Content("~/")">главной страницы</a> немного позже</p>

<p>Если вы не можете ждать, то, пожалуйста, напишите об этом на e-mail: <a href="mailto:manager@bbsw.ru">manager@bbsw.ru</a></p>

<p>Если совсем невтерпеж, звоните: </p>
<ul>
        <li>8 (800) 555-13-08 - бесплатно по России, </li>
        <li>8 (495) 215-08-81 - Москва,              </li>
        <li>8 (383) 286-27-55 - Новосибирск          </li>
</ul>
<p>Большое спасибо!</p>

<div>
    @Html.Raw(ViewBag.Message)
</div>
