﻿@model C2.DataManager.Store.SelectProductParams

@*RazorGenerator*@

@helper Arrow(string dir, string by) {
var syms = new string[] { "↓", "↑" };
var dirSym = dir.Equals("ASC") ? 0 : 1; 

@Html.ActionLink(syms[dirSym], 
    Request.RequestContext.RouteData.Values["action"] as string, 
    new { OrderDir = dir, OrderBy = by, Page = 1 }, 
    new { @class = Model.OrderBy.Equals(by) && Model.OrderDir.Equals(dir) ? "active" : "" })
}


Сортировать по 

<div class="sorting">
Цене 
    @Arrow("ASC", "Price")
    @Arrow("DESC", "Price")
</div>

<div class="sorting">
Артикулу 
    @Arrow("ASC", "Code")
    @Arrow("DESC", "Code")
</div>

<div class="sorting">
Названию 
    @Arrow("ASC", "Title")
    @Arrow("DESC", "Title")
</div>

